@media screen and (max-width: 1120px) {
    .cards-main {
        width: 50%;
    }
   
}

@media screen and (max-width: 820px) {

    .footer-text-responsive {
        width: 100%;
    }
}

@media screen and (min-width: 701px) {
    .icon-nav-menu {
        display: none !important;
    }

    .div-menu-responsive {
        display: none  !important;
    }
    
}

@media screen and (max-width: 700px) {
    .cards-main {
        width: 100%;
    }
    
    .about-text-responsive {
        width: 100%;
        padding: 0 100px;
    }

    .footer-text-responsive {
        width: 100%;
    }

    .navbar-menu {
        display: none;
    }

    #img-avatar {
        width: 300px !important;
        margin-bottom: 20px;
    }
}