.first-last-row-bg {
    background-color: #2C3E50;
}

.green-container-bg {
    background-color: #1ABC9C;
}

.first-footer-row-bg {
background-color: #3A546D;
}

#img-avatar {
    width: 15%;
}

.img-fluid {
    border-radius: 16px;
}

.icon-nav-menu {
    border: 1px solid white;
    padding: 2px;
}

.footer-social-icons {
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 100%;
}

.line-white {
    height: 3px;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
    background-color: white;
}

.line-black {
    height: 3px;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
    background-color: black;
}

.btn-success {
    background-color: #1ABC9C !important;
}

.btn-border {
    border: 2px solid white !important;
}

.footer-link {
    color: #1ABC9C;
}