.first-last-row-bg {
    background-color: #2C3E50;
}

.green-container-bg {
    background-color: #1ABC9C;
}

.first-footer-row-bg {
background-color: #3A546D;
}

#img-avatar {
    width: 15%;
}

.cards-img {
   width: 100%;
}